<div class="component">
    <header></header>
    <app-menu></app-menu>
    <div class="page-title">
        <span class="fw-bold">{{ pageTitle }}</span>
        <span> | <input [(ngModel)]="searchCriteria" class="search-criteria" placeholder="Search"></span>
    </div>
    <main>
        <a routerLink="/parishioners/create" class="action-link">Create New</a>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th><a (click)="sortFn('id')" class="sort-header">Id</a></th>
                    <th><a (click)="sortFn('lastname')" class="sort-header">Name</a></th>
                    <th><a (click)="sortFn('ministry')" class="sort-header">Ministry</a></th>
                    <th><a (click)="sortFn('email')" class="sort-header">Email</a></th>
                    <th><a (click)="sortFn('reviewed')" class="sort-header">Reviewed</a></th>
                    <th><a (click)="sortFn('status')" class="sort-header">Status</a></th>
                    <th><a (click)="sortFn('isCaller')" class="sort-header">Caller?</a></th>
                    <th><a (click)="sortFn('callerName')" class="sort-header">Called By</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of parishioners | searchParishioner:searchCriteria | sort:sortColumn:sortAsc">
                    <td>{{ p.id }}</td>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    <td>{{ p.ministry }}</td>
                    <td>{{ p.email }}</td>
                    <td>{{ p.reviewed | bool }}</td>
                    <td>{{ p.status }}</td>
                    <td>{{ p.isCaller | bool }}</td>
                    <td>{{ p.callerName }}</td>
                    <td>
                        <a routerLink="/parishioners/detail/{{p.id}}" class="action-link">Det</a>
                        <span>
                            | <a routerLink="/parishioners/change/{{p.id}}" class="action-link">Chg</a>                            
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer></footer>
</div>